<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grade.project.grade.mapper.vo.PublicPayOrderVoMapper" >

  <resultMap id="PublicPayOrderResultMap" type="com.grade.project.grade.model.vo.PublicPayOrderVo" >
      <id column="ID" property="id" jdbcType="INTEGER" />
      <result column="ORDER_NUM" property="orderNum" jdbcType="VARCHAR" />
      <result column="USER_ID" property="userId" jdbcType="INTEGER" />
      <result column="WX_USER_NAME" property="wxUserName" jdbcType="VARCHAR" />
      <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
      <result column="GENERAL_AGENT_CODE" property="generalAgentCode" jdbcType="VARCHAR" />
      <result column="PAY_PRICE" property="payPrice" jdbcType="DECIMAL" />
      <result column="PAY_MSG" property="payMsg" jdbcType="VARCHAR" />
      <result column="PAY_STATUS" property="payStatus" jdbcType="INTEGER" />
      <result column="IS_DEL" property="isDel" jdbcType="INTEGER" />
      <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
      <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />

      <result column="APP_ID" property="appId" jdbcType="VARCHAR"/>
      <result column="IS_CERTIFICATION" property="isCertification" jdbcType="INTEGER"/>
      <result column="OPEN_ID" property="openId" jdbcType="VARCHAR"/>
  </resultMap>

    <select id="getChildrenOrders" resultMap="PublicPayOrderResultMap">
       select gmp.ID,gmp.ORDER_NUM,gmp.USER_ID,gmp.WX_USER_NAME,gmp.PAY_PRICE, gwx.OPEN_ID,gmp.PAY_STATUS ,gwx.APP_ID APP_ID,
        ISNULL(gwx.APP_ID) IS_CERTIFICATION  from grade_mch_pay gmp
LEFT JOIN grade_wx_public_num gwx on gmp.USER_ID = gwx.USER_ID and gwx.APP_ID = #{appId}
where gmp.PARENT_CODE = #{parentCode} and gmp.PAY_STATUS > 0 and gmp.GMT_CREATE >= #{time}

    </select>

    <select id="getSpecificOrderList" resultMap="PublicPayOrderResultMap">
        select gmp.ID,gmp.ORDER_NUM,gmp.USER_ID,gmp.WX_USER_NAME,gmp.PAY_PRICE, gwx.OPEN_ID,gmp.PAY_STATUS ,gwx.APP_ID APP_ID,
        ISNULL(gwx.APP_ID) IS_CERTIFICATION
         from grade_mch_pay gmp LEFT JOIN grade_wx_public_num gwx on gmp.USER_ID = gwx.USER_ID and gwx.APP_ID = #{appId}
where gmp.PARENT_CODE = #{parentCode}
        <if test="payStatus != 0">
        and gmp.PAY_STATUS > 0
        </if>
        <if test="payStatus == 0">
            and gmp.PAY_STATUS = 0
        </if>
        order by gmp.GMT_CREATE desc

    </select>

    <!--获取该总代理分支下的所有的未支付的订单-->
    <select id="getAllUnPayOrders" resultMap="PublicPayOrderResultMap">
        select gmp.ID,gmp.ORDER_NUM,gmp.USER_ID,gmp.WX_USER_NAME,gmp.PAY_PRICE, gwx.OPEN_ID,gmp.PAY_STATUS ,gwx.APP_ID APP_ID,
        ISNULL(gwx.APP_ID) IS_CERTIFICATION
         from grade_mch_pay gmp LEFT JOIN grade_wx_public_num gwx on gmp.USER_ID = gwx.USER_ID
where gmp.PAY_STATUS = 4 and gwx.APP_ID = #{appId} order by gmp.GMT_CREATE desc
    </select>

    <!--重新生成一张表，用以后面的查询当前一级代理的所有的订单-->
    <select id="getChildPeng" statementType="CALLABLE">
        {call getChildPeng(#{parentCode,mode=IN})}
    </select>
    <!--获取下级所有的已认证过的用户生成的订单-->
    <select id="selectUnderCertification"  resultMap="PublicPayOrderResultMap">
        select gmp.ID,gmp.ORDER_NUM,gmp.USER_ID,gmp.WX_USER_NAME,gmp.PAY_PRICE, gwx.OPEN_ID,gmp.PAY_STATUS ,gwx.APP_ID APP_ID,
        ISNULL(gwx.APP_ID) IS_CERTIFICATION from grade_mch_pay gmp
INNER JOIN tmpLsts t on gmp.USER_ID = t.id
left join grade_wx_public_num gwx on gmp.USER_ID = gwx.USER_ID
         WHERE  PAY_STATUS = 4 and gmp.GMT_CREATE >= #{time} and gmp.GMT_CREATE <![CDATA[<=]]> #{endTime} and gwx.APP_ID = #{appId}
    </select>

    <select id="selectOneByOrderId" resultMap="PublicPayOrderResultMap">
  select gmp.ID,gmp.ORDER_NUM,gmp.USER_ID,gmp.WX_USER_NAME,gmp.PAY_PRICE, gwx.OPEN_ID,gmp.PAY_STATUS ,gwx.APP_ID APP_ID,
        ISNULL(gwx.APP_ID) IS_CERTIFICATION
  from grade_mch_pay gmp left join grade_wx_public_num gwx on gmp.USER_ID = gwx.USER_ID
  where gmp.ID = #{orderId} and gwx.APP_ID = #{appId}

    </select>

</mapper>